<!DOCTYPE HTML>
<html>
  <head>
    <meta property="og:title" content="Frases del barrio"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="http://frasesbarrio.heroku.com/images/rails.png"/>
      <meta property="og:url" content="http://frasesbarrio.heroku.com/"/>
      <meta property="og:site_name" content="Las frases del barrio"/>
      <meta property="fb:admins" content="1018011577"/>

    <title>Frases del barrio</title>
    <style>
      body { font-family: Arial; font-size: 20px ; margin:100px;}
      a { text-decoration: none; color: #333; }
      #contents { width=400px; }
      
      .logout a { color: #2554C7; font-size: 15px; }
      .like_site { font-size: 0.8em }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
