<!DOCTYPE HTML>
<html>
  <head>
    <meta property="og:title" content="Frases del barrio"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://frasesbarrio.heroku.com/images/logo.jpg"/>
    <meta property="og:url" content="http://frasesbarrio.heroku.com/"/>
    <meta property="og:site_name" content="Las frases del barrio"/>
    <meta property="fb:admins" content="1018011577"/>
    
    <link rel='stylesheet' href='/style.css' type='text/css'>
    <title>Frases del barrio</title>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
