<form action="/sentences/create" method="POST">
  La frase:
  <input type="text" name="contents" id="contents"><br/>
  El perpetrador:
  <input type="text" name="who" id="who"><br/>
  <input type="submit" value="Nueva frase!"/>
</form>